.inputContainer{
	display: block;

	width: 304px;

	margin: 50px auto;

	font-size: 0;

	cursor: text;

	.inputField{
		position: relative;

		width: 100%;
		height: 54px;

		padding: 0 17px;

		border: 1px solid #E3E3E3;
		border-radius: 8px;
		box-shadow: 0 2px 1px rgba(#000, .1);

		transition: .3s;

		.inputLeadingIcon,
		.inputTrailingIcon{
			position: absolute;
			left: 17px;
			top: calc(50% - 8px);
			z-index: 1;

			width: 16px;
			height: 16px;

			font-family: "Material Icons";
			font-size: 16px;
		}

		.inputTrailingIcon{
			left: auto;
			right: 17px;
		}

		.inputLeadingIcon ~ .inputText{
			width: calc(100% - 16px - 12px);

			margin-left: calc(16px + 12px);
		}

		.inputTrailingIcon ~ .inputText{
			width: calc(100% - 16px - 12px);
		}

		.inputLeadingIcon ~ .inputTrailingIcon ~ .inputText{
			width: calc(100% - 32px - 24px);
		}

		.inputText{
			position: relative;

			.inputLabel{
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;

				width: 100%;
				height: 100%;

				background: #FFF;

				line-height: 52px;
				font-size: 16px;
				color: #4F4F4F;
				font-family: "Calibri";

				transition: ease .3s;
			}

			input{
				height: 52px;

				border: 0;

				font-size: 16px;
				color: #282828;
				font-family: "Calibri";

				transition: ease .3s;
			}
		}
	}

	.inputHelpers{
		padding: 5px 20px 0;

		.inputHelperMessage,
		.inputCounter{
			display: inline-block;
			vertical-align: middle;

			width: 50%;

			font-size: 12px;
			line-height: 16px;
			color: #4F4F4F;
		}

		.inputCounter{
			text-align: right;
		}
	}

	&:hover{
		.inputField{
			border-color: #939393;
		}
	}

	&.focus{
		.inputField{
			border-color: #939393;

			.inputText{
				.inputLabel{
					top: 6px;

					height: 16px;

					line-height: 133%;
					font-size: 12px;
				}

				input{
					margin-top: 25px;

					height: 21px;
				}
			}
		}
	}
}